@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
:root{
	background:linear-gradient( 
					  160deg,
					  #0a0a0a 0%,
					  #1c1c1c 35%,
					  #3a3a3a 70%,
					  #565656 100%
					);
	color:#F2F0Ef;
	font-family: 'Google Sans Flex', sans-serif;
}

#root{
	margin:0;
	padding:0;
	height:100vh;
	background: var(--background);
	overflow-x:hidden;
	overflow-y:hidden;
}
body{
	margin:0;
	padding:0;
}

.mainPage{
	height:100%;
	display:grid;
	grid-template: .09fr .9fr .32fr/.08fr 1fr;
	column-gap:12px;
	position:relative
}
.header{
	width:100%;
	display:flex;
	grid-row:1;
	grid-column:1/ span 2;
}
